.sidebar {
  width: 220px;
  background: #0b1017;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid var(--border-color);
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.3);
}

.logo {
  color: var(--accent-cyan);
  text-align: center;
  margin-bottom: 30px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar nav a {
  color: var(--text-light);
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background 0.3s;
}

.sidebar nav a:hover,
.sidebar nav a.active {
  background: var(--accent-cyan);
  color: #000;
}

.logout-btn {
  margin-top: 20px;
  background: var(--accent-green);
  color: #000;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  border-bottom: 1px solid var(--border-color);
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar h2 {
  color: var(--accent-cyan);
}

.role span {
  color: var(--accent-green);
}
